@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #E8EBF1;
  
}
body::-webkit-scrollbar{
  display: none;
}

.hero-button{
  display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 400;
    color: rgb(108, 82, 238);
}
.button-start{
  position: relative;
    width: 24px;
    min-width: 24px;
    height: 49px;
    background-color: rgb(108, 82, 238);
    transition: all 0.5s ease 0s;
    left: 1px;
    z-index: 1;
    clip-path: path("M 10 49 C 4.47715 49 0 44.5229 0 39 V 19.4871 C 0 16.1312 1.68339 12.999 4.48224 11.1472 L 18.8218 1.66007 C 20.4583 0.577328 22.3773 0 24.3395 0 H 88 C 93.5228 0 98 4.47716 98 10 V 28.7016 C 98 32.0576 96.3166 35.1898 93.5178 37.0416 L 77.9521 47.3399 C 76.3155 48.4227 74.3966 49 72.4343 49 H 10 Z");
}
.button-start::after{
  left: 0px;
    top: -30px;
    z-index: 100;
    height: 76px;
    background: rgb(98, 144, 252);
}
.button-end{
  right: 1px;
  left: unset;
  transform: scale(-1);
  z-index: 1;
}
.button-end::after{
  right: -20px;
  z-index: 100;
  top: 20px;
  height: 71px;
  background: rgb(149, 94, 252);
}
.hero-button-main{
  width: 100%;
    height: 100%;
    background-color: rgb(108, 82, 238);
    transition: all 0.5s ease 0s;
}
.hero-effect{
  background: url(/src/assets/hero/PurpleEllips.webp) center center / cover no-repeat;
  width: 100%;
  height: 93px;
  position: absolute;
}

.text-black-gradient{
  background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 162.5%) text;
  -webkit-text-fill-color: transparent;
}
.hero-gradient-text{
  font-family: Syne;
    font-size: 50px;
    font-weight: 700;
    color: rgb(39, 39, 80);
    background: linear-gradient(341.87deg, rgb(132, 138, 255) -1.64%, rgb(234, 140, 255) 106.1%) text;
    -webkit-text-fill-color: transparent;
}

.contact-button-start{
  position: relative;
    width: 24px;
    min-width: 24px;
    height: 49px;
    background-color:white;
    transition: all 0.5s ease 0s;
    left: 1px;
    z-index: 1;
    clip-path: path("M 10 49 C 4.47715 49 0 44.5229 0 39 V 19.4871 C 0 16.1312 1.68339 12.999 4.48224 11.1472 L 18.8218 1.66007 C 20.4583 0.577328 22.3773 0 24.3395 0 H 88 C 93.5228 0 98 4.47716 98 10 V 28.7016 C 98 32.0576 96.3166 35.1898 93.5178 37.0416 L 77.9521 47.3399 C 76.3155 48.4227 74.3966 49 72.4343 49 H 10 Z");
}

.contact-button-main{
 
  width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.5s ease 0s;
}
.contact-button-end{
  right: 1px;
  left: unset;
  transform: scale(-1);
  z-index: 1;
}
.skew-border{
  @apply bg-transparent absolute top-0 left-0 ;
  width: 82%;
  border-top: 7vw solid white;
  border-right: 10vw solid transparent;
}

.roadmap-overlay{
  @apply absolute  top-0 left-0 w-full h-full mix-blend-overlay;
  background: url(../src/assets/roadmap/noiseRoadmapOPT.webp);
}
.roadmap-bg{
  @apply w-full  relative flex justify-center items-center py-[240px];
  background: linear-gradient(147.35deg, rgb(35, 35, 36) -0.9%, rgb(21, 21, 22) 116.23%);
}

.agg-bg{
  background-image: url(../src//assets/roadmap/noiseOPT.webp);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
}

.grid-bg{
  background-image: url(../src//assets/aggregator/Grid.png);
  height: 200rem;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
}

.Syne-family{
  font-family: Syne;
}
.text-gradient{
  background: linear-gradient(90deg, rgb(209, 160, 255) 0%, rgb(218, 191, 255) 100%) text;
  -webkit-text-fill-color: transparent;
}